body {
  font-family:Arial, Helvetica, sans-serif;
}

/* styles do not work */
/* .container-flexbox {
  display: flex;
  padding: 0;
}

.videoDetailContainer {
  width: 100%;
}

.videoListContainer {
  width: 100%;
}

@media (max-width: 480px) {
  .container-flexbox {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .videoDetailContainer {
    width: 68% !important;
  }
  .videoListContainer {
    width: 250px !important;
  }
} */
